html,body{height:100%;}

body {
  background: #888;
  /*padding-top: 70px;*/
}

.link {
  cursor: pointer;
}

.albumcover_large {
  width:250px;
  margin-top:50px;
}

.albumcover_thumb {
  width:45px;
}

div.row {
  padding:15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom:5px;
}

/* links */

body a {
  color: black;
}

body a:hover {
  color: #007;
  text-decoration: none;
}

.link:hover {
  color: #007;
}

#album_info {
  text-align: center;
}

@font-face {
  font-family: Go;
  src: url(../goregular.ttf);
}

nav, #searchField {
  font-family: Go;
}

div.cimg {
  float:left;
}

div.alblink {
  line-height: 1.2em;
  overflow-y: crop;
  padding-left: 55px;
}

li {
  clear:both;
  overflow: hidden;
}

button {
  margin-right:5px;
}


#spinner { width:16px; height:16px; margin:6px; float:left;}
#fixBottom {position: fixed; bottom: -2px; width: 100%;}
#fixBottomMessage { margin: 0 auto; width: 300px; height:30px; border:1px solid black; line-height:30px; background: #ccc}
